@charset "UTF-8";

body{
	 background:linear-gradient(to bottom, #b6fbff, #83a4d4) fixed;
     color: #D2B48C;
     margin: 0 auto;
}

main{
	 width: 80%;
     margin: 0 auto;
     margin-top:2%;
     margin-bottom:3%;
     background-color: white;
     border-radius: 20px;
     text-align: center;
}

h2{
	padding-top: 30px;
	text-align: center;
	font-size: 22px;
}

table.history{
	  width: 80%;
      margin: 0 auto;
      border: 2px solid #D2B48C;
      border-collapse: collapse;
}

.data{
	 background-color: antiquewhite;
}

th{
	border: 1px solid #D2B48C;
}

td{
   border: 1px solid #D2B48C;
   padding: 10px;
}

.hidden {
	display: initial;
	display: none;
}

.info{
	margin-bottom: 360px;
}

.buttonArea{
	height: 60px;
	width: 80%;
	margin: 0 auto;
}

button{
	width: 130px;
	margin-top: 17px;
	margin-bottom: 10px;
	float: right;
}


.info{
	text-align: center;
}